$input-width: 250px;

body {
    background-image: url(https://images-cdn.welcomesoftware.com/Zz0wZGI4ZTI2NjhlNGQxMWViODVlN2QzNTI0ZjhkZTQyOA==);
    background-size: cover;
}

#main-container {
    height: 300px;
}

form {
    background-color: violet;
    width: calc($input-width + 60px);
}

input:not([type='checkbox']) {
    width: $input-width;
}

.fadein {
    animation: fadeIn 3s;
}

.card .delete-btn {
    width: 100%;
}

ul {
    width: min-content;
    list-style-type: none;
}

label {
    text-align: left;
}

li:first-of-type {
    margin-top: 100px;
}

li:last-of-type {
    margin-bottom: 20px;
    text-align: center;
}

li {
    text-align: right;
    margin-bottom: 10px;
}

